.skills {
    position: relative;
    min-height: 100vh;
    background-color: #20232a;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin: 0 auto;
}


.skillsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 26%;
    width: 300px;
    height: 300px;
    padding: 15px;
    margin: 15px;
    background-color: #282c34;
    text-align: center;
}

.icon {
    width: 150px;
    height: 150px;
    padding-top: 10px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.skillTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0 0 15px;
    line-height: 1.2;
    letter-spacing: 5px;
}

.description {
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
}

@media screen and (max-width: 1200px) {
    .skillsWrapper {
        justify-content: center;
    }

    .skill {
        width: 500px
    }
}

@media screen and (max-width: 630px) {
    .skill {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .skill {
        width: 100%;
    }

    .skillTitle {
        font-size: 24px;
    }

    .description {
        font-size: 14px;
    }
}




