html, body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #8a8a8a;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    background-color: #2f2f2f;
}


$backgroundColorLight:#2f2f2f;
$backgroundColorDark:#2a2a2a;

$textColor:#8a8a8a;
$activeLinkColor:#5a5a5a;
$textColorLight:#cacaca;
$textColorLight:#cacaca;