@import '../../index.scss';

.main {
  min-height: 100vh;
  background-color: $backgroundColorLight;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.greeting {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
}

.greeting span:nth-child(1) {
  font-size: 26px;
  color:  $textColorLight;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
  font-weight: 700;
  font-stretch: normal;
  font-size: 50px;
  position: relative;
  z-index: 0;
  color:  $textColorLight;
}

.greeting span:nth-child(2) span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #5a5a5a;
  bottom: 10px;
  z-index: -1;
}

.description {
  padding: 5px;
  font-size: 18px;
}
.descriptionLast {
  padding: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}
.photo {
  margin-top: 50px;
  position: relative;
  z-index: 1;
  transition: all 700ms ease-out;
}

.img img {
  height: 400px;
  width: 300px;
}

.photo .img:before {
  content: "";
  position: absolute;
  height: 420px;
  width: 300px;
  border: 5px solid #5a5a5a;
  left: 5px;
  top: -15px;
  z-index: -1;
}

.photo:hover {
  transform: scale(1.1, 1.1);
  transition: 700ms
}


@media screen and (max-width: 600px) {
  .img img {
    height: 300px;
    width: 220px;
  }

  .photo .img:before {
    height: 295px;
    width: 215px;
  }

  .greeting span:nth-child(2),
  .greeting span:nth-child(2) span {
    font-size: 26px;
  }

  h1 {
    font-size: 20px;
  }

  .greeting span:nth-child(1) {
    font-size: 18px;
  }

  .greeting span:nth-child(2) span:before {
    width: 100%;
    height: 3px;
    bottom: 3px;
  }

  .container {
    width: 90%;
    margin-top: 10px;
  }

  .main {
    padding-top: 50px;
  }

  .photo {
    margin-top: 0;
  }
}


