@import '../../../index.scss';

.nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.item a {
    text-decoration: none;
    color: $textColor;
    font-size: 20px;

}

.activeLink:hover:not(:active) {
    color: $activeLinkColor;
    border-bottom: 2px solid $activeLinkColor;
    transition: .4s;
    cursor: pointer;
}

.activeLink:active {
    color: $textColorLight;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .item a {
        font-size: 14px;
         }
}